{
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "bootstrap": false,
    "luxon": false
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "extends": ["airbnb-base"],
  "rules": {
    "linebreak-style": "off",
    "no-alert": "off",
    "no-bitwise": "off",
    "no-console": "off",
    "no-nested-ternary": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": "off",
    "max-len": [
      "error", {
        "code": 150
      }
    ]
  }
}
